---
import { getCollection } from "astro:content";
import Pride from "../../components/Pride.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import PopPage from "../../components/PopPage.astro";
import PrefixPage from "../../components/PrefixPage.astro";

export async function getAllNetworkPages() {
  const prefixes = await getCollection("prefix");
  const pops = await getCollection("pop");

  return [
    ...prefixes.map((prefix) => ({
      collection: "prefix",
      fileName: prefix.id,
      uri: prefix.slug,
      title: prefix.data.prefix,
    })),
    ...pops.map((pop) => ({
      collection: "pop",
      fileName: pop.id,
      uri: pop.slug,
      title: pop.data.serverName,
    })),
  ];
}

const allPages = await getAllNetworkPages();

export async function getStaticPaths() {
  const allPages = await getAllNetworkPages();

  return allPages.map((page) => ({
    params: {
      thing: `/${page.uri}`,
    },
  }));
}

const collection = allPages.find(
  (page) => page.uri === decodeURIComponent(Astro.params.thing)
)?.collection as "pop" | "prefix";
---

<RootLayout>
  <div
    class="w-screen min-h-screen overflow-x-hidden flex flex-col items-center justify-start"
  >
    <main
      class="flex flex-col items-start md:px-4 px-2 pt-4 md:pt-0 max-w-3xl md:w-3xl w-screen font-mono"
    >
      <nav
        class="justify-around items-center md:gap-x-2 gap-x-1 py-2 flex w-full"
      >
        <a href="/">home</a>
        <a href="/peering">peering</a>
      </nav>
      <h2 class="text-3xl font-medium text-center w-full">
        <a href="/network" class="text-white underline"> Network </a>
      </h2>
      <h3 class="text-xl text-center w-full pt-2">AS215207</h3>

      {
        collection === "pop" ? (
          <PopPage popParam={Astro.params.thing} />
        ) : (
          <PrefixPage prefixParam={Astro.params.thing} />
        )
      }

      <nav
        class="justify-center items-center md:gap-x-4 gap-x-1 sm:gap-y-0 gap-y-2 py-4 flex sm:flex-wrap sm:flex-row flex-col w-full"
      >
        <h4 class="sm:basis-full shrink-0 text-center">links</h4>
        <a target="_blank" href="https://www.peeringdb.com/net/35756"
          >PeeringDB</a
        >
        <a target="_blank" href="https://bgp.tools/as/215207">bgp.tools</a>
        <a target="_blank" href="https://bgp.he.net/AS215207">bgp.he.net</a>
      </nav>

      <Pride />
    </main>
  </div>
</RootLayout>
