---
import { getCollection } from "astro:content";
import Pride from "../../components/Pride.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import PopPage from "../../components/PopPage.astro";
import PrefixPage from "../../components/PrefixPage.astro";
import Links from "../../components/Links.astro";
import TopNav from "../../components/TopNav.astro";

export async function getAllNetworkPages() {
  const prefixes = await getCollection("prefix");
  const pops = await getCollection("pop");

  return [
    ...prefixes.map((prefix) => ({
      collection: "prefix",
      fileName: prefix.id,
      uri: prefix.slug,
      title: prefix.data.prefix,
    })),
    ...pops.map((pop) => ({
      collection: "pop",
      fileName: pop.id,
      uri: pop.slug,
      title: pop.data.serverName,
    })),
  ];
}

const allPages = await getAllNetworkPages();

export async function getStaticPaths() {
  const allPages = await getAllNetworkPages();

  return allPages.map((page) => ({
    params: {
      thing: `/${page.uri}`,
    },
  }));
}

const collection = allPages.find(
  (page) => page.uri === decodeURIComponent(Astro.params.thing)
)?.collection as "pop" | "prefix";
---

<RootLayout title="Network | AS215207">
  <div
    class="w-screen min-h-screen overflow-x-hidden flex flex-col items-center justify-start"
  >
    <main
      class="flex flex-col items-start md:px-4 px-2 pt-4 md:pt-0 max-w-3xl md:w-3xl w-screen font-mono"
    >
      <TopNav page="network" />
      <h2 class="text-3xl font-medium text-center w-full">
        <a href="/network" class="text-white underline"> Network </a>
      </h2>
      <h3 class="text-xl text-center w-full pt-2">AS215207</h3>

      {
        collection === "pop" ? (
          <PopPage popParam={Astro.params.thing} />
        ) : (
          <PrefixPage prefixParam={Astro.params.thing} />
        )
      }

      <Links />

      <Pride />

      <span class="w-full inline-flex justify-center pt-4"
        ><a href="https://github.com/aethersh/as215207.net">see source code</a
        ></span
      >
    </main>
  </div>
</RootLayout>
