---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <div class="w-screen h-screen grid place-content-center">
    <div>
      oh no! that page doesn't exist. <a
        href="/"
        class="hover:underline text-blue-600 hover:text-purple-600"
        >go back home</a
      >
    </div>
  </div>
</RootLayout>
