---
import Figlet from "../components/Figlet.astro";
import Pride from "../components/Pride.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <div class="w-screen grid place-content-center">
    <main class="flex flex-col items-start px-4 max-w-3xl font-mono">
      <h1 class="py-4">
        <Figlet
          text="AetherNet"
          font="Roman"
          size="medium"
          class="bg-clip-text bg-gradient-to-r from-purple-500 to-fuchsia-500 text-transparent bg-cover"
        />
      </h1>
      <h2 class="text-2xl italic font-medium text-center w-full">
        Welcome to the Aether
      </h2>
      <p class="text-base w-full pt-4">
        AetherNet is an IPv6-only hobbynet run by <a
          target="_blank"
          href="https://tibinonest.me">tibs</a
        > and <a target="_blank" href="https://henrikvt.com">Henrik</a>. We are
        (computer) networking enthusiasts who believe in an open, free internet.
      </p>
      <nav class="justify-center items-center gap-x-4 py-4 flex w-full">
        <a target="_blank" href="https://www.peeringdb.com/net/35756"
          >PeeringDB</a
        >
        <a target="_blank" href="https://bgp.tools/as/215207">bgp.tools</a>
        <a target="_blank" href="https://bgp.he.net/AS215207">bgp.he.net</a>
      </nav>

      <Pride />
    </main>
  </div>
</RootLayout>
