---
type Props = {
  page: "network" | "peering";
};
---

<nav class="justify-around items-center md:gap-x-2 gap-x-1 py-2 flex w-full">
  <a href="/">home</a>
  {Astro.props.page === "peering" && <a href="/network">network</a>}
  {Astro.props.page === "network" && <a href="/peering">peering</a>}
</nav>
