---
import Header from "../components/Header.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
  ><Header /><div class="w-screen grid place-content-center">
    <main class="flex flex-col items-start px-4 max-w-2xl">
      <h1 class="text-4xl font-semibold py-4 text-center w-full">
        About AetherNet
      </h1>

      <p>
        AetherNet (AS215207) is a hobbynet operated by <a
          target="_blank"
          href="https://tibinonest.me">tibs</a
        > and <a target="_blank" href="https://henrikvt.com">Henrik</a>. Given
        that this is a hobbynet, that means that this is not operated for profit
        or used for commercial purposes. We're just a couple of nerds who like
        diving down rabbitholes and learning new things.
      </p>

      <div class="pt-4">
        <h2 class="text-xl font-semibold">Internet Resources</h2>
        <p>This network is IPv6 only.</p>
        <span><b class="font-semibold">ASN:</b> 215207 - allocated by RIPE</span
        >
        <h3 class="text-base font-semibold">IPv6</h3>
        <ul class="list-disc list-inside">
          <li>2a0f:85c1:3aa::/48</li>
        </ul>
      </div>
    </main>
  </div>
</RootLayout>
