<header class="w-screen py-4 px-4 flex justify-between bg-zinc-800">
  <a href="/">
    <h1 class="text-3xl font-semibold basis-1/3">AetherNet</h1>
  </a>
  <nav class="flex justify-center items-center gap-x-4">
    <a href="/about">About</a>
    <a href="/peering">Peering</a>
  </nav>
  <nav class="flex justify-end items-center gap-x-4">
    <a href="#">PeeringDB</a>
    <a href="#">bgp.tools</a>
    <a href="#">bgp.he.net</a>
  </nav>
</header>

<style>
  nav {
    @apply basis-1/3 grow-0 shrink-0;
  }
  nav > a {
    @apply text-white hover:text-gray-300;
  }
</style>
