<header class="w-screen py-4 px-4 flex justify-between bg-zinc-800">
  <a href="/" class="md:basis-1/3 shrink-0 grow-0">
    <h1 class="text-3xl font-semibold">AetherNet</h1>
  </a>
  <nav
    class="flex justify-center items-center space-x-4 md:justify-self-center justify-self-end"
  >
    <a href="/about">About</a>
    <a href="/peering">Peering</a>
  </nav>
  <nav class="md:flex justify-end items-center gap-x-4 hidden">
    <a target="_blank" href="https://www.peeringdb.com/net/35756">PeeringDB</a>
    <a target="_blank" href="https://bgp.tools/as/215207">bgp.tools</a>
    <a target="_blank" href="https://bgp.he.net/AS215207">bgp.he.net</a>
  </nav>
</header>

<style>
  nav {
    @apply md:basis-1/3 md:grow-0 md:shrink-0;
  }
  nav > a {
    @apply text-white hover:text-gray-300;
  }
</style>
